html,body {
    margin: 0%;
    padding: 0%;
}
.hide{
    margin: 0%;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0%;
    position: absolute;
    width: 1px;
}

.container{
    padding: 2em;
    width: 80%;
    margin: auto;
}
.search_bar{
    width: 30%;
    line-height: 2;
    border-radius: 5px;
    border: 1px solid hsl(0, 4%, 5%);
    transition: all .3s;
}

.search_bar:focus{
    width: 100%;
    border-color: black;
}

.search_bar::placeholder{
     font-weight: 200;
}

.search_bar:focus::placeholder{
    color: transparent;
}